/*----------LAYOUT-----------------*/
.main-container {
  display: flex;
  width: 1200px;
}
/*-----------GENERAL--------------*/
ul {
  list-style-type: none;
}
.clear {
  clear: both;
}
h1,
h2 {
    text-transform: uppercase;
}

/*-----------ASIDE--------------- */
aside {
  background-color: #a5aba8;
  width: 30%;
  margin-right: 3%;
}
aside * {
  color: white;
}
aside h2 {
letter-spacing: 5px;
}
aside section h2:first-child {
  border-bottom: 2px solid white;
}
#profile-pic img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.figcaption{
    text-align: center;
}
/*--------MAIN--------------*/
main section > h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
}
.hero {
  background-color: #b68a88;
  box-shadow: 2px 2px 40px 1px #a5aba8 inset;
  padding: 15% 0;
  text-align: center;
}
.hero h2 {
  color: white;
  border-top: 2px solid white;
  letter-spacing: 10px;
}
.hero h1{
    letter-spacing: 10px;
}

.about-me p {
    line-height: 2em;
    background-color: #dfd2db;
    padding: 5px;
}
article h3,
article h4 {
  font-weight: bold;
}

article ul {
  list-style-type: square;
}
/*------References-------*/
.references {
  display: flex;
  flex-wrap: wrap;
  background-color: #75787C;
  
}
.references article {
  width: 50%;
  text-align: center;
  
}
.references article figure img{
    border-radius: 50%;
}
/*-----DL--------*/
dl {
  display: flex;
  flex-wrap: wrap;
}

dt,
dd {
  line-height: 2em;
  border-top: 1px solid white;
  flex-basis: 40%;
  margin: 0;
  padding: 2px;
}

dt:last-of-type,
dd:last-of-type {
  border-bottom: 1px solid white;
}

dt {
  font-weight: bolder;
}

/*--------EXPERIENCE-----------*/
.experience {
    display: flex;
  flex-wrap: wrap;
  background-color: #D9A491;
  padding: 5px;
  
}
/* dt {
    clear: left;
    width: 30%;
    float: left;
    font-weight: bolder;
    
    
    
    
}
dd {
    clear: right;
    width: 50%;
    float: left;
    margin:0;
   
    
} */
