/*----------LAYOUT-----------------*/
.main-container{
    display: flex;
    width: 1200px;

}
/*-----------GENERAL--------------*/
ul {
  list-style-type: none;
}

/*-----------ASIDE--------------- */
aside {
  background-color: #a5aba8;
  width: 30%;
  margin-right: 3%;
}
aside * {
  color: white;
}
aside h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
}
aside section h2:first-child {
  border-bottom: 2px solid white;
}
#profile-pic img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
/*--------MAIN--------------*/
main section > h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
}
.hero {
  background-color: #b68a88;
  box-shadow: 2px 2px 40px 1px #a5aba8 inset;
}
.hero h2 {
  color: white;
  border-top: 2px solid white;
  text-transform: none;
  letter-spacing: normal;
}

.about-me {
  background-color: #dfd2db;
}
.about-me h2 {
  background-color: white;
}
article h3,
article h4 {
  font-weight: bold;
}

article ul {
  list-style-type: square;
}
/*------References-------*/
.references{
    display: flex;
}